:root {
  --lightgreen: #5cce16;
  --darkgreen: #1e8900;
  --darkred: #b90100;
  --lightred: #d31e1d;
  --dark: #333;
}
$light: white;
$text-btn-color: white;
$btn-color-primary: linear-gradient(
  to right,
  var(--lightgreen),
  var(--darkgreen)
);

$btn-color-secondary: linear-gradient(
  to right,
  var(--darkred),
  var(--lightred)
);

$font-general: "sans-serif", "Helvetica";

html {
  font-family: $font-general;
  box-sizing: border-box;
}

body {
  background-color: #212326;
  margin: 0 30px;
  position: relative;

  .wrapper {
    height: 100vh;
    display: grid;

    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 0.7fr 4fr 1fr;
    grid-template-areas:
      "header"
      "content"
      "footer";

    .side-nav {
      display: grid;
      grid-template-rows: 2fr 1fr 0.5fr;
      align-items: center;
      justify-items: center;
      text-align: center;
      color: $light;

      height: 100vh;
      width: 60%;
      background-color: #171717;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      transform: translateX(-100%);
      transition-duration: 500ms;
      transition-timing-function: ease-in-out;

      .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      input {
        width: 80%;
        border: none;
        padding: 0.6rem;
        font-size: 0.8rem;
      }

      .btn-save {
        border: 0;
        padding: 0.5rem 3rem;
        background-image: $btn-color-primary;
        color: $light;
        border-radius: 0.4rem;
      }
    }

    .header {
      display: grid;
      grid-area: header;
      grid-template-columns: 1fr 2fr 1fr;
      align-items: center;
      justify-items: center;
      position: relative;

      .fas {
        color: $light;
        justify-self: start;
        border: 1px solid $light;
        padding: 0.5rem;
        transition-duration: 300ms;
      }

      .fas:hover {
        background-color: $light;
        color: var(--dark);
      }

      .site-title {
        color: $light;
        text-align: center;
        font-size: 1.2rem;
      }
    }

    .header::after {
      content: "";
      display: block;
      width: 105%;
      height: 1px;
      bottom: 0;
      background-image: $btn-color-primary;
      position: absolute;
    }

    .main-content {
      grid-area: content;
      display: inline-block;
      margin: 1rem auto;

      .lista {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: burlywood;

        .item p {
          background-color: var(--lightred);
          display: inline-block;
          margin: 0 5px;
          padding: 10px 15px;
          color: var(--dark);
        }
      }
    }

    .footer {
      // grid child styles
      grid-area: footer;

      // styles items itself
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: center;

      .btn {
        width: 70%;
        padding: 1.2rem 0;
        font-size: 1.2rem;
        border-radius: 15px;
        border: none;
        color: white;
      }
    }

    .primary {
      background-image: $btn-color-primary;
    }
    .secondary {
      background-image: $btn-color-secondary;
    }
  }
}
